:root{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: lightblue;
    text-align: center;
    font-size: 4rem;
}
#table{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
table, th, td, tr{
    border: 1px solid black;
    background: lightblue;
    opacity: 1;
    color: black;
}
td{
    width: 100px;
}
#btn{
    display: block;
    margin-left: auto
}
.remove{
    display: hidden;
}
#form{
    background: lightblue;
    visibility: hidden;
    right: 37vw;
    top: 30vh;
    width: 25%;
    height: 50%;
    border-radius: 10px;
    border: 5px solid blue;
    position: fixed;
}
#add{
    border-radius: 50%;
    background: lightblue;
    color: white;
    position: fixed;
    right: 75px;
    top: 75px;
}
#remove{
    background: lightblue;
    color: peachpuff;
    width: 100%;
    border-radius: 50%;
}